body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
  }
  
  .sidebar {
    background-color: #1c1211;
    color: #f3ede6;
    width: 200px;
    height: 100%;
    float: left;
  }
  
  .sidebar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .sidebar li {
    padding: 15px;
    cursor: pointer;
  }
  
  .sidebar li:hover {
    background-color: #7b180c;
  }

  .sidebar li.selected  {
    background-color: #d0331b;
    }

  .main-content {
    background-color:#0a0000;
    margin-left: 200px;
    padding: 20px;
    height: 100%;
    overflow-y: auto;
  }