body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
  }
  
  .sidebar {
    background-color: #060108;
    color: #fefffb;
    width: 200px;
    height: 100%;
    float: left;
  }
  
  .sidebar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .sidebar li {
    padding: 15px;
    cursor: pointer;
  }
  
  .sidebar li:hover {
    background-color: #d16739;
  }

  .sidebar li.selected  {
    background-color: #d31c16;
    }

  .main-content {
    background-color: #03000e;
    margin-left: 200px;
    padding: 20px;
    height: 100%;
    overflow-y: auto;
  }